# CIFS dependencies
CONFIG_INET=y
CONFIG_NLS=y
CONFIG_CRYPTO=y
CONFIG_CRYPTO_MD4=y
CONFIG_CRYPTO_MD5=y
CONFIG_CRYPTO_SHA256=y
CONFIG_CRYPTO_SHA512=y
CONFIG_CRYPTO_CMAC=y
CONFIG_CRYPTO_HMAC=y
CONFIG_CRYPTO_LIB_ARC4=y
CONFIG_CRYPTO_AEAD2=y
CONFIG_CRYPTO_CCM=y
CONFIG_CRYPTO_GCM=y
CONFIG_CRYPTO_ECB=y
CONFIG_CRYPTO_AES=y
CONFIG_CRYPTO_LIB_DES=y
CONFIG_KEYS=y
CONFIG_FSCACHE=y
CONFIG_DNS_RESOLVER=y

# CIFS support
CONFIG_CIFS=y
CONFIG_CIFS_FSCACHE=y
CONFIG_CIFS_UPCALL=y
CONFIG_CIFS_XATTR=y
CONFIG_CIFS_DFS_UPCALL=y
CONFIG_CIFS_ALLOW_INSECURE_LEGACY=y
